{% extends 'core/base.html' %}

{% block title %}Contacto{% endblock %}

{% block background %}{% load static %}{% static 'core/img/contacto2.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoría</span>
{% endblock %}

{% block content %}
<div class="row"> 
    <div class="col-lg-8 col-md-10 mx-auto">
        <p>diego_7a6</p>
        <p>al222211427@gmail.com</p>
            
        <br>
        <p><b>Teléfono:</b> 00000000000</p>
        <p><b>Honorarios:</b> 0000000</p>
    </div>
</div>
{% endblock %}

